/.github/
/.vscode/
/node_modules/
/build/
/tmp/
.idea/*
/docs/

coverage
*.log
.gitlab-ci.yml

package-lock.json
tsconfig.json
/*.tgz
/tmp*
/mnt/
/package/

/dist/demo.*
/dist/**/*.js.map
/dist/index.html
/dist/lib/
/src/
